<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MovieApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/cineverse_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/cineverse_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MovieApp"
        tools:targetApi="31">
        <activity
            android:name=".presentation.ui.CineversePaymentOkActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.PaymentOkActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.CineverseTicketListActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.CinemaTicketDetailActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.CineverseDetailActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.SnackAndTicketActivityActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.SnackAndTicketActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_snack_and_ticket"
            android:theme="@style/Theme.MovieApp.Fullscreen" />
        <activity
            android:name=".presentation.ui.SeatListActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.CineverseActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.viewmodel.DetailViewModel"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.MovieCinemaDetailActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.MovieCinemaActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.ProfilActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.SingUpActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.MainActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.ui.introActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>